
/* 下面两条严格禁止了页面的拖动 */
html, body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    position: relative;
}

.home {
    .loading {
        text-align: center;
    }
    .error {

    }
    header {
    }
    .main {
        overflow-x: hidden;
        overflow-y: auto;
    }
    .player {
        text-align: center;
        border-top: 1px solid #ddd;
        box-shadow: 1px 1px 1px 1px #ddd;
        background-color: #E8E8E8;
        audio {
            width: 100%;
            background-color: #E8E8E8;
        }
    }
    .toolbar {
    }
    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
